@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import "tailwindcss";

body {
  background-image: url('/public/IMG_6170.jpeg'); /* Update this with your image URL */
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

/* Adding the black overlay */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  z-index: -1; /* Ensures the overlay is behind the content */
}

:root {
  --font-josefin: 'Josefin Sans', sans-serif;
}
